* {
    margin: 0;
    padding: 0;
}

form {
    border: solid blue 2px;
    text-align: center;
    width: 300px;
    background-color: rgb(77, 142, 228);
    border-radius: 15px;
    margin: auto;
}